@media screen and (min-width: 800px){

    .nav__grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        height: 80px;
    }

    .restaurants{
        h1{
            padding-left: 50px;
        }
        &__grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 30px;
            padding: 0px 50px;
        }
    }


    footer{
        @include center-content;
        .footer-content{
            text-align: center;        
        }
    }

    /* PAGES MENu */
    
    .menu{
        &__grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
    }

}