/* VARIABLES ET MIXINS*/


$primary-color: #9356DC;
$secondary-color: #FF79DA;
$terciary-color: #99E2D0;
$color-background-and-button: #f6f6f6;
$color-footer-and-location: #353535;

@mixin font-2 { 
    font-family: Shrikhand, sans-serif;
}

@mixin center-content {
    display: flex;
    justify-content: center;
}

@mixin shadow{
    box-shadow: 0px 5px 10px #cfcfcf;
}

@mixin shadow-hover{
    box-shadow: 0px 7px 10px #4d3b3ba1;
}

@mixin button-hover{
    background: #fa90dc;
    background: linear-gradient(154deg,#fa90dc 0%, #a981da 80%);
}