@import url(_utils.scss);
@import url(_animations.scss);
    

*{
   
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    
}

a{
    text-decoration: none;
}

/*LOADER SPINNER*/

.loader{
    background: rgba(255, 255, 255, 0.712);
    position: fixed;
    height: 100%;
    width: 100%;
    animation: loader 2s linear;
    visibility: hidden;
    &__animation{
        border: 10px solid $terciary-color;
        border-top: 10px solid $primary-color;
        border-bottom: 10px solid $secondary-color;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        position: absolute;
        top: 0; 
        left: 0;
        bottom: 0;
        right: 0;
        animation: spin 1.5s linear infinite;
    }
}




/* HEADER */

.header{
    &__logo{
        padding: 15px 0px 10px 0px;
        text-align: center;
            img{
                height: 30px;
                
            }
        i{/* PAGES MENU*/
            font-size: 1.5rem;
            color: black;
            margin-left: 20px;
            margin-right: -35px;
            float: left;
        }
    }
    &__location{
        @include center-content;
        align-items: center;
        background: #eaeaea;
        color: $color-footer-and-location;
        font-size: 1rem;
        font-weight: 600;
        height: 50px;
        
        i{
            margin-right: 15px;
        }
    }
    &__button-bloc{
        text-align: center;
        background: $color-background-and-button;
        padding: 50px 0px 70px 0px;
        h1{
            font-size: 1.5rem;
            font-weight:800;
            margin: 0px 50px 20px 50px;
        }
        h2{
            color: #353535;
            font-weight: normal;
            font-size: 1rem;
            margin: 0px 30px 40px 30px;
        }
        a{
            @include shadow;
            color: white;
            font-size: 0.9rem;
            border-radius: 25px;
            background: #ff79da;
            background: linear-gradient(154deg,#ff79da 0%, #9356dc 80%);
            padding: 15px 15px;
            &:hover{
                @include button-hover;
                @include shadow-hover;
            }
        }
    }
    /*PAGES MENU */ 
    &__photo--1{
        height: 250px;
        background: url(ASSETS/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
    }
    &__photo--2{
        height: 250px;
        background: url(ASSETS/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover;
    }
    &__photo--3{
        height: 250px;
        background: url(ASSETS/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover;
    }
    &__photo--4{
        height: 250px;
        background: url(ASSETS/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center/cover;
    }
}


/* MAIN : NAVIGATION */

.nav{
    margin: 0 auto;
    width: 90%;
    padding: 60px 0px;
    h2{
        margin: 0px 0px 20px 0px;
    }
    &__grid{
        display:grid;
        grid-template-rows: 70px 70px 70px;
        gap: 25px;
        &__bloc{
            @include shadow;
            display: flex;
            justify-content: left;
            align-items: center;
            margin-left: 15px;
            background: $color-background-and-button;
            border-radius: 25px;
            div{
                @include center-content;
                align-items: center;
                background: $primary-color;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                margin-left: -10px;
                p{
                    color: white;
                }
            }
            i{
                color: #7e7e7e;
                margin: 0px 20px;
                font-size: 1.2rem;
                
            }
            .fa-store{
                color: $primary-color;
            }
            p{
                color: black;
                font-weight: 600;
            }
        }
    }
}


/*MAIN : RESTAURANTS */



.restaurants{
    background: $color-background-and-button;
    padding: 40px 15px;
    h2{
        margin-bottom: 20px;
    }
    &__grid{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 30px;
        &__bloc{
            border-radius: 25px;
            display: grid;
            grid-template-rows: 180px 80px;
            @include shadow;
            &:hover{
                @include shadow-hover;
            }
            &__img-1{
                background: url(ASSETS/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
                border-radius: 25px 25px 0px 0px;
            }
            &__img-2{
                background: url(ASSETS/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover;
                border-radius: 25px 25px 0px 0px;
            }
            &__img-3{
                background: url(ASSETS/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover;
                border-radius: 25px 25px 0px 0px;
            }
            &__img-4{
                background: url(ASSETS/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center/cover;
                border-radius: 25px 25px 0px 0px;
            }
            &__new{
                background: $terciary-color;
                width: 70px;
                height: 25px;
                border-radius: 2px;
                font-size: 0.9rem;
                @include center-content;
                align-items: center;
                color: #008766;
                font-weight: 600;
                margin: 15px 15px 0px 0px;
                float: right; 
            }
            &__description{
                display: grid;
                grid-template-columns: 90% 10%;
                align-items: center;
                color: black;
                padding: 10px 20px;
                    h3{
                        font-size: 1.1rem;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: normal;
                    }

                    .fa-heart{
                        font-size: 25px;
                       
                    }
                    .like--active{
                        background: #FF79DA;
                        background: -webkit-linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
                        background: -moz-linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
                        background: linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 0;
                        transition: 0.5s linear;
                        margin-right: -30px;
                        position: absolute;
                        &:hover{
                            opacity: 1;
                        }
                }
            }
        }
    }
}

/*MAIN MENU*/

.menu{
    background: $color-background-and-button;
    border-radius: 30px 30px 0px 0px;
    margin-top: -30px;
    position: relative;
    width: 100%;
    padding-bottom: 90px;
    &__title{
        @include center-content;
        padding: 30px 40px 20px 20px;
        justify-content: space-between;
        h1{
            @include font-2;
            font-size: 1.7rem;
        }
        &__icon{   
            
            .far{
                margin-right: -34.5px;
                font-size: 30px;
                color: black;
            }
            .fas{
                background: #FF79DA;
                background: -webkit-linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
                background: -moz-linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
                background: linear-gradient(to right, #FF79DA 0%, #9356DC 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 31px;
                opacity: 0;
                transition: 0.5s linear;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    &__grid{
        margin: 0px 15px;
        display: grid;
        row-gap: 40px;
        &__container{
            &--animation-1{
                animation: apparition 2s linear 0.1s forwards;
            }
            &--animation-2{
                animation: apparition 2s linear 0.9s forwards;
                opacity: 0;
            }
            &--animation-3{
                animation: apparition 2s linear 1.8s forwards;
                opacity: 0;
            }
           
            h2{
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.3rem;
                margin-bottom: 5px;
            }
            &__underlign{
                width: 50px;
                height: 1px;
                border: 1px solid $terciary-color;
                background: $terciary-color;
                margin-bottom: 20px;
                
            }
            &__content{
                display: grid;
                row-gap: 25px;
                &__list{
                    display: flex;
                    justify-content: space-between;
                    color: black;
                    background-color: white;
                    border-radius: 20px;
                    @include shadow;
                    &:hover{
                        & > .menu__grid__container__content__list__select{
                            transform: scaleX(1);
                            
                            & .fa-check-circle{
                                transform: rotate(360deg);
                            }
                        }
                        & > .menu__grid__container__content__list__text{
                            margin: 4% 4% 4% 4%;
                        }
                      
                    }
                    &__select{
                        background-color: $terciary-color;
                        font-size: 2rem;
                        @include center-content;
                        align-items: center;
                        width: 25%;
                        border-radius: 0px 20px 20px 0px;
                        transform-origin: center right;
                        transform: scaleX(0);
                        transition: transform 0.5s linear;
                        .fa-check-circle{
                            color: white;
                            transform: rotate(0deg);
                            transition: transform 0.5s;
                        }
                    }
                    &__text{
                        margin: 4% -20% 4% 4%;
                        width: 100%;
                        transition: 0.5s linear;
                        display: grid;
                        grid-template-areas: 
                        "title title"
                        "underlign price";
                        grid-template-columns: 90% 10%;
                        gap: 5px;
                        .title{
                            grid-area: title;
                            font-size: 1.2rem;
                            font-weight: 700;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .underlign{
                            grid-area: underlign;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .price{
                            grid-area: price;
                            font-weight: 600;
                        }
                        
                    
                    }
                &__select{
                    font-size: 2rem;
                    overflow: hidden;
                }
                }
            }
        } 
    }
    &__button{
        text-align: center;
        margin-top: 60px;
        a{
            @include shadow;
            color: white;
            font-size: 1rem;
            border-radius: 25px;
            background: #ff79da;
            background: linear-gradient(154deg,#ff79da 0%, #9356dc 80%);
            padding: 15px 40px;
            &:hover{
                @include button-hover;
                @include shadow-hover;
            }
        }
    }
}

/* FOOTER */

footer{
    background-color: $color-footer-and-location;
    height: 250px;
    display: flex;
    align-items: center;
    .footer-content{
        margin-left: 15px;
        h1{
            margin-bottom: 15px;
            a{
                color: #ffffff;
                @include font-2;
                font-weight: 400;
                font-size: 1.3rem;
            }
        }
        ul{
            list-style-type: none;
            line-height: 30px;
            li a{
                color: #ffffff;
                &:hover{
                    text-decoration: underline;
                }
            }
            i{
                margin-right: 10px;
            }
        }
    }
    }

    @media screen and (min-width: 800px){

        .nav__grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            height: 80px;
        }

        .restaurants{
            h1{
                padding-left: 50px;
            }
            &__grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 30px;
                padding: 0px 50px;
            }
        }
    

        footer{
            @include center-content;
            .footer-content{
                text-align: center;        
            }
        }

        /* PAGES MENu */
        
        .menu{
            &__grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
            }
            &__button{
                
            }
        }

}